---
description: "Design Tools"
title: "Design Tools"
url: "/docs/design-tools/sketch"
icon: flash
weight: 4
---

{namespace pageDesignToolsIndex}

/**
 */
{template .render}
  {@param page: ?}

  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="refresh" content="0; URL='{$page.url}'">
    </head>
  </html>
{/template}