---
description: "Liferay Ops"
title: "Liferay Ops"
url: "/docs/liferay-ops/requests.html"
icon: flash
weight: 4
---

{namespace pageLiferayOpsIndex}

/**
 */
{template .render}
  {@param page: ?}

  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="refresh" content="0; URL='{$page.url}'">
    </head>
  </html>
{/template}