@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700");

$font-family: "Source Sans Pro", sans-serif !important;

body {
  font-family: $font-family;
}

.autocomplete {
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.08), 0 4px 6px 0 rgba(0, 0, 0, 0.1);
  border: 0;

  &-title {
    font-family: $font-family;
    font-size: 24px;
    font-weight: normal;
  }

  &-text {
    font-size: 16px;
    opacity: 0.5;
  }
}

.list .list-text-primary {
  font-family: $font-family;
}

.header.header-custom {
  background: url(/images/background-design-team.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;

  .header-title {
    font-size: 88px;
    font-family: $font-family;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    @media (max-width: 960px){
      font-size: 56px;
    }

  }

  .header-subtitle {
    font-size: 30px;
    opacity: 0.5;
    font-family: $font-family;
    margin-bottom: 68px;
  }

  .logo-liferay {
    width: 102px;
    position: absolute;
    top: 34px;
  }
}

.custom-shortcuts {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  padding-top: 88px;
  padding-left: 0;

  li {
    list-style: none;
  }

  a {
    width: 200px;
    height: 232px;
    padding: 24px;
    border-radius: 8px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    border-bottom: none !important;

    &:hover {
      box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.08),
        0 4px 6px 0 rgba(0, 0, 0, 0.06);
      transform: translateY(-8px);
      background-color: #ffffff;
      cursor: pointer;
    }

    &:not([class]):hover {
      color: #000000;
    }
  }

  .icon {
    height: 72px;
  }

  .title {
    margin-bottom: 8px;
    display: block;
    font-size: 18px;
  }

  .description {
    opacity: 0.5;
    font-size: 16px;
  }
}
.custom-search {
  max-width: 805px;
  margin: 0 auto;
  position: relative;

  input.form-control {
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.08), 0 4px 6px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    font-family: $font-family;
    padding: 24px 24px 24px 80px;
    font-size: 30px;
    font-weight: normal;
    line-height: 48px;
    height: 80px;
  }

  .custom-icon-process {
    position: absolute;
    left: 24px;
    top: 0;
    z-index: 1;
    bottom: 0;
    margin: auto;
    height: 32px;
  }

  .input-inner-icon-helper {
    display: none;
  }
}

.footer {
  background-color: #ffffff;

  &-description,
  &-description a {
    color: #000000;
  }
}
.sidebar-search {
  .form-control {
    height: 56px;	
    width: 302px;	
    border-radius: 6px;	
    background-color: #FFFFFF;	
    box-shadow: 0 4px 25px 0 rgba(0,0,0,0.08), 0 4px 6px 0 rgba(0,0,0,0.1);
    margin: auto;

    @media (max-width: 960px){
      width: 100%;
    }
  }
  @media (min-width: 960px) {
    .input-inner-icon-helper {
      padding-left: 16px;
    }
  }
}

.docs .sidebar-header {
  display: flex;

  @media (max-width: 960px){
    .sidebar-logo {
      display: none;
    }
  }

  @media (min-width: 960px){
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #F7F8F9;
    padding-left: 24px;
    padding-top: 32px;
    .sidebar-title {
      height: 32px;
      width: 187px;	
      color: #000000;	
      font-family: $font-family;	
      font-size: 24px;	
      font-weight: bold;	
      line-height: 32px;
    }
    .sidebar-icon {
      display: none;
    }
  }
}

.docs .sidebar {
  @media (min-width: 960px){
    height: 1084px;
    width: 350px;
    background-color: #F7F8F9;
  }
}

.docs .sidebar-offset {
  @media (min-width: 960px){
    width: calc(100% - 350px);
    margin-left: 350px;
  }
}

.sidebar-link.sidebar-link-selected {
  span{ 
    color: #000000;	
    font-family: $font-family;	
    font-size: 16px;	
    font-weight: 600;	
    line-height: 24px;
    white-space: nowrap;
  }
}

.sidebar-item {
  a.sidebar-link-selected {
    background-color: #F7F8F9 !important;
  }
  a.sidebar-link:hover {
    border-radius: 2px;	
    color: #000000 !important;
    background-color: #ECF3FE !important;
  }
  li.active a.sidebar-link.sidebar-link-selected{
    background-color: #ECF3FE !important;
  }
}


.docs header .title{
  background: #FFFFFF;
  text-align: left;
  height: 64px;	
  width: 908px;	
  color: rgba(0,0,0,0.8);	
  font-family: $font-family;	
  font-size: 56px;	font-weight: bold;	
  line-height: 64px;
  display: block;
}

.docs header {
  background: #FFFFFF;
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: $font-family;
}

.contribute{
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
  .contribute-text {
    margin-left: 0;
    margin-top: 40px;
    padding: 0;
    height: 0;
    background-color: #FFFFFF !important;
    a {
      color: #0A63CE; 
    }
  }
}

.divider {	
  height: 1px;	
  width: 100%;	
  opacity: 0.2;	
  background-color: #000000;
}
