---
description: "Guild and Projects"
title: "Guild and Projects"
url: "/docs/guild-and-projects/manifest-and-values.html"
icon: flash
weight: 2
---

{namespace pageGuildAndProjects}

/**
 */
{template .render}
  {@param page: ?}

  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="refresh" content="0; URL='{$page.url}'">
    </head>
  </html>
{/template}