---
description: "Design Ops"
title: "Design Ops"
url: "/docs/design-ops/lexicon"
icon: flash
weight: 3
---

{namespace pageDesignOpsIndex}

/**
 */
{template .render}
  {@param page: ?}

  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="refresh" content="0; URL='{$page.url}'">
    </head>
  </html>
{/template}