{namespace main}

/**
 */
{template .render}
	{@param content: ?}
	{@param? elementClasses: ?}

	<div class="{$elementClasses ?: 'main'}">
		<main class="content">
			{$content}
		</main>
	</div>
{/template}
